body {
  background-image: linear-gradient(to right, rgba(162, 241, 131, 0.8), rgba(252, 173, 142, 0.9));
  background-repeat: repeat-y;
  background-size: cover;
}
.main-wrapper {
  font-family: 'Kalam', cursive;
}
.form-wrapper {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.form {
  display: inline;

}
.input-field {
  border: 0px;
  width: 35rem;
  height: 3.5rem;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  text-align: center;
}
.input-field:focus, .submit-button:focus {
  outline: none;
  border: 1px solid #699259;
}
.submit-button {
  width: 7rem;
  border: 0px;
  border-top: 1px solid rgb(139, 189, 120);
  background-color:  rgb(139, 189, 120);
  height: 3.5rem;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}
.submit-button:hover {
  background-color: rgb(127, 179, 107);
}
.list-wrapper {
  display: flex;
  justify-content: center;
}
.list {
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 42rem;
  background-color: rgb(169, 181, 231);
  border: 1px solid rgb(126, 144, 226);
  height: 3.5rem;
  border-radius: 2rem;
  margin-top: 2rem;
}

.done-button {
  justify-self: flex-start;
  width: 2rem;
  border-radius: 1rem;
  align-self: center;
  margin: 0 1rem;
  height: 2rem;
  border: 0px;
  background-color: wheat;
  border: 1px solid rgb(126, 144, 226);
}
.done-button:hover, .delete-button:hover, .favorite-button:hover, .edit-button:hover, .done-button:hover {
  background-color: rgb(236, 207, 152);
}
.todo-text {
  align-self: center;
  justify-self: center;
}
.delete-button:focus, .favorite-button:focus, .edit-button:focus, .done-button:focus, .reset-button:focus {
  outline: none;
}
.buttons-block {
  margin-right: 1rem;
  align-self: center;

}
.delete-button, .favorite-button, .edit-button {
  width: 2rem;
  border-radius: 1rem;
  margin: 0 0.3rem;
  height: 2rem;
  border: 0px;
  background-color: wheat;
  border: 1px solid rgb(126, 144, 226);
}
.reset-button {
  background-color: rgb(255, 154, 137);
  border: 1px solid rgb(243, 125, 104);
  font-size: 1.5rem;
  align-self: center;
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  margin-top: 1rem;
}
.reset-button:hover {
  background-color: rgb(233, 128, 109);
}